  <h1>The Team</h1>
<ul class="thumbnails">
      <!-- Merelda -->
      <li class="span4">
        <div class="thumbnail" id = "merelda">
          <%= image_tag('http://res.cloudinary.com/communityplus/image/upload/v1376922959/merelda_t2mned.jpg', :width => 200, :height => 200, class: "img-circle") %>
          <h3>Merelda Wu</h3>
          <p>CCO, CTO. Master Electrical Engineer.</p>
        </div>
      </li>
      <!-- Matthew -->
      <li class="span4">
        <div class="thumbnail" id = "matthew">
          <%= image_tag('http://res.cloudinary.com/communityplus/image/upload/v1376922957/matthew_xb4teb.jpg', :width => 200, :height => 200, class: "img-circle") %>
          <h3>Matthew Looi</h3>
          <p>CEO, CFO, CTO. Master Electrical Enginner.</p>
          <p>Contact:</p>
          <p>looi.matthew2@gmail.com</p>
        </div>
      </li>
      <!-- James -->
      <li class="span4">
        <div class="thumbnail" id = "james">
          <%= image_tag('http://res.cloudinary.com/communityplus/image/upload/v1376922955/james_om5khc.jpg', :width => 200, :height => 200, class: "img-circle") %>
          <h3>James Allingham</h3>
          <p>CTO, COO. I am a first yeal Electrical Engineer.</p>
        </div>
      </li>
    </ul>