<p>
  <strong>Event:</strong>
  <%= @attendee.event_id %>
</p>

<p>
  <strong>User id string:</strong>
  <%=@attendee.user.name %>
</p>


<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
