.axis {

    path, line {
      fill: none;
      stroke: white;
      shape-rendering: crispEdges;
    }

    text {
      fill: white;
      font-family: sans-serif;
      font-size: 20px;
    }
  }

  .infocircle {
    
    fill: $green; 

  }